body, html{
    margin: 0%;
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    color: silver;
    
}

.textHeader{
   
    text-align: center;
    background-color: #040a35;
    border-radius: 42px;
    padding: 6px;
    width: 100%;
    margin: 9px;

}

.bg{

    background-image: linear-gradient( #010110, #000737);

}

.texts{

    font-size: 20px;

}

.texthd{
    font-family: Arial;
    text-align: center;
    font-size: 31px;

}

.textlb2{

    text-align: center;

}


.form{

    background-color: rgba(0, 0, 0, 0.445);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px 10px 50px 10px;
    padding: 21px;
    position: relative;
    box-shadow: -12px 11px 14px rgb(1, 1, 19);

}

.spaces{

    position: relative; 
    color: white;
    padding: 0px;
    font-size: 12px;
    letter-spacing: 3px;
    margin-bottom: 0px;
    box-sizing: border-box;

}

#imputHip{
    color: silver;
    width: 354px;
    font-size: 12px;
    background: transparent;
    letter-spacing: 4px;
    border: none;
    outline: none;
    margin-bottom: 6px;
    box-sizing: border-box;
    border-bottom: 1px solid silver;

}

#imputAdj{

    color: silver;
    width: 354px;
    font-size: 12px;
    background: transparent;
    letter-spacing: 4px;
    border: none;
    outline: none;
    margin-bottom: 6px;
    box-sizing: border-box;
    border-bottom: 1px solid silver;

}

#imputOpos{

    color: silver;
    width: 354px;
    font-size: 12px;
    background: transparent;
    letter-spacing: 4px;
    border: none;
    outline: none;
    margin-bottom: 6px;
    box-sizing: border-box;
    border-bottom: 1px solid silver;

}

#imputAng{

    color: silver;
    width: 354px;
    font-size: 12px;
    background: transparent;
    letter-spacing: 4px;
    border: none;
    outline: none;
    margin-bottom: 6px;
    box-sizing: border-box;
    border-bottom: 1px solid silver;

}
.bt{
    
    color: silver;
    background-image: linear-gradient(to right,#000737,#072f9e );
    width: 354px;
    height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 31px;

}

.media-object{

    position:absolute;
    float: right; 
    margin-bottom: 0;
    position: absolute; 
    right: 0px; 
    bottom: 0;

}


